hostname = us-central1-shadow-hunter-ios-*.cloudfunctions.net

^https:\/\/us-central1-shadow-hunter-ios-.*\.cloudfunctions\.net\/\/saveGame-downloadSaveFile$ url script-response-body https://raw.githubusercontent.com/KD-MM2/KD-MM2/mf/b.js
