hostname = firebaseremoteconfig.googleapis.com

^https:\/\/firebaseremoteconfig\.googleapis\.com\/.\/projects\/hunt-royale-.\/namespaces\/firebase\* url script-response-body https://raw.githubusercontent.com/KD-MM2/KD-MM2/mf/hr.js
