hostname = us-central1-shadow-hunter-ios-*.cloudfunctions.net

^https:\/\/us-central1-shadow-hunter-ios-.*\.cloudfunctions\.net\/\/arena-gc-getSeasonInfo$ url script-request-body https://raw.githubusercontent.com/KD-MM2/KD-MM2/mf/k.js
^https:\/\/us-central1-shadow-hunter-ios-.*\.cloudfunctions\.net\/\/arena-ga-updateMatchMakingData$ url script-request-body https://raw.githubusercontent.com/KD-MM2/KD-MM2/mf/k.js
